<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>BitLox Web</title>
    <link href="css/fonts.css" media="screen" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.css" media="screen" rel="stylesheet">
    <link href="css/bitlox.css" media="screen" rel="stylesheet">
    <link href="img/favicon.ico" id="page_favicon" rel="icon" type="image/x-icon">
    <!--<script src="js/detectPlugin.js"></script>-->
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/qrcode.min.js"></script>
    <script src="js/html5-qrcode.min.js"></script>
</head>
<body>
<div class="wrapper" ng-app="wallets" ng-controller="WalletsCtrl">
<nav class="redMainNav">
    <div class="center">
        <img src="img/bitlox.png" alt="bitlox logo"/><div class="web">web</div>
    </div>
</nav>
<div class="content center">
    <div class="leftside">
        <h4 class="topH">My wallets</h4>
        <div class="splitline"></div>
        <ul class="waletslist">
            <li><span class="wallName">Wallet 1</span><div class="icons"><i class="lock"></i><i class="edit"></i></div></li>
            <li class="selected"><span class="wallName">Wallet 2</span><div class="icons"><i class="lock"></i><i class="edit"></i></div></li>
            <li><span class="wallName">Wallet 3</span><div class="icons"><i class="lock"></i><i class="edit"></i></div></li>
        </ul>
        <button class="addWallet">+ Add wallet</button>
    </div>
    <div class="rightside">
        <h4 class="topH">Actions</h4>
        <div class="splitline"></div>
        <div class="zgl hide">
            <img src="img/u35.png" alt="select wallet from list"/>
            <div class="redcenterText">Select wallet from list</div>
        </div>
        <div class="wrapActions hide)">
            <nav class="actions hide)">
                <button class="active" ng-class="{active:tab==1}" ng-click="switchTab(1)"><i></i>Send</button>
                <button ng-class="{active:tab==2}" ng-click="switchTab(2)"><i></i>Receive</button>
                <button ng-class="{active:tab==3}" ng-click="switchTab(3)"><i></i>Transactions</button>
            </nav>
            <div class="tap">
                <div class="bordered">
                    <strong>Wallet name</strong> (balance)
                    <div class="fr">
                        <i class="refresh"></i>
                        <span class="walletballance">12.0012521</span>
                        <span class="exchangeText"><span id="total"></span> BTC
                        </span>
                    </div>
                </div>

                <div class="downpart sendTab" ng-show="tab==1">
<!--                    <div class="line">
                        <label for="raddrFrom">From address</label>
                        <select name="addressSelect" class="addressSelect" id="raddrFrom">
                            <option selected="selected" value="1YtcSjJiZwSTZw2xJxv4wWe4d7bvZDG4q">1YtcSjJiZwSTZw2xJxv4wWe4d7bvZDG4q (0)</option>
                            <option value="1HPMGYDAA55cXGpM8ApVy6VhrhuSSFYfuH">1HPMGYDAA55cXGpM8ApVy6VhrhuSSFYfuH (0.002)</option>
                            <option value="1Phe2LcmVS8H1NU6GYrChzsNZwk4j8vZkQ">1Phe2LcmVS8H1NU6GYrChzsNZwk4j8vZkQ (0.010)</option>
                            <option value="5JxaSF4DE3TE8M8GjahPt8mGnmdo9QfSs6kpM">5JxaSF4DE3TE8M8GjahPt8mGnmdo9QfSs6kpM (0.012)</option>
                        </select>

                    </div>-->
                    <div class="line">
                        <label for="raddrTo">Send to</label>
                        <input type="text" id="raddrTo" ng-model="raddrTo"/>
                        <i class="qr" ng-click="showScanPopUp()"></i>
                    </div>
                    <div class="line">
                        <label for="amount" >Amount</label>
                        <span class="btcBg">
                            <input type="text" id="amount" ng-blur="calcUSD($event)" />

                            <!-- ng-change="calcUSD()" ng-mondel="amount" ng-model-options="{updateOn: 'blur'}" -->
                        </span>
                        =
                        <span class="exchangeText">
                            <span id="convertedSumm">
                                <span id="usdConvert">{{amount}}</span>
                            </span>
                        </span>
                    </div>
                    <div class="wrapMargin">
                        <div class="smallLine">
                            <span class="fl">Transaction fee </span>
                            <span class="fr">0.0001 BTC</span>
                            <i class="clear"></i>
                        </div>
                        <div class="smallLine">
                            <span class="fl strong">Total</span>
                            <span class="fr strong">0.00011 BTC ($ 11)</span>
                            <i class="clear"></i>
                        </div>
                    </div>
                    <div class="splitline"></div>
                    <button class="sendCoins"><i></i>SEND</button>
                </div>
                <div class="downpart receiveTab" ng-show="tab==2">
                    <h4>My address</h4>
                    <div class="splitlineWhite"></div>
                    <div class="sendLine">
                        <span class="walletName">1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee</span><i class="qrIco" ng-click="showQrPopUp('1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee')"></i>
                    </div>
                    <div class="sendLine">
                        <span class="walletName">1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4e1</span><i class="qrIco" ng-click="showQrPopUp('1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4e2')"></i>
                    </div>
                    <div class="sendLine">
                        <span class="walletName">1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4e2</span><i class="qrIco" ng-click="showQrPopUp('1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4e1')"></i>
                    </div>
                    <div class="splitlineWhite"></div>
                    <a href="#" class=" fr createAdress">+ Create address</a>
                    <i class="clear"></i>
                </div>
                <div class="downpart transactions" ng-show="tab==3">
                    <div class="heading">
                        <span class="tabHead fl">Time</span>
                        <span class="tabHead fl">Address</span>
                        <span class="tabHead fl">Amount</span>
                        <span class="tabHead fl">Balance</span>
                        <i class="clear"></i>
                    </div>
                    <div class="splitlineWhite"></div>
                    <div class="tableLine red">
                        <span class="col1 fl">2015-07-03 21:43:50</span>
                        <span class="col2 fl">1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee</span>
                        <span class="col3 fl">-0.0000012</span>
                        <span class="col4 fl">1.0000012</span>
                        <i class="clear"></i>
                    </div>
                    <div class="tableLine green">
                        <span class="col1 fl">2015-07-03 21:43:50</span>
                        <span class="col2 fl">1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee</span>
                        <span class="col3 fl">-0.0000012</span>
                        <span class="col4 fl">1.0000012</span>
                        <i class="clear"></i>
                    </div>
                    <div class="tableLine red">
                        <span class="col1 fl">2015-07-03 21:43:50</span>
                        <span class="col2 fl">1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee</span>
                        <span class="col3 fl">-0.0000012</span>
                        <span class="col4 fl">1.0000012</span>
                        <i class="clear"></i>
                    </div>

                    <!--<button class="createAdress">+ Create address</button>-->
                    <i class="clear"></i>
                </div>
            </div>
        </div>
        <div class="enterPin hide">
            <img src="img/enterPin.png" alt="enter bitlox pin"/>
            <div class="pinEnterDescr">
                Enter PIN on your Bitlox device.
            </div>
        </div>
    </div>
    <i class="clear"></i>
</div>
<footer class="loadPlugin">
    <div class="center">
        <div class="fl">© 2015 Bitlox™ — The ONLY Bluetooth Bitcoin Wallet</div>
        <div class="fr">Safest, wireless, powered!</div>
    </div>
</footer>

<!-- popUps -->
<div class="popup qrPopUp" ng-show="shQr">
    <div class="shade" ng-click="closeQrPupUp()"></div>
    <div class="wrap">
        <div id="qrcode"></div>
        <div>
            <input type="text" class="qrLink" value="{{qr}}"/>
        </div>
        <i ng-click="closeQrPupUp()" class="closePopUp"></i>
    </div>
</div>

<div class="popup qrCam" ng-show="scan">
    <div class="shade" ng-click="closeQrPupUp()"></div>
    <div class="wrap scan">
        <div id="camplace"> </div>
        <div class="camtext">Hold a picture of the QR code <br/>up to your computer’s web cam</div>
        <i ng-click="closeQrPupUp()" class="closePopUp"></i>
    </div>
</div>

<div class="popup editWallet hide" >
    <div class="shade"></div>
    <div class="wrap">
        <h3>Edit wallet</h3>
        <div class="slitline"></div>
        <div class="popUpline">
            <label for="walName">Wallet name</label>
            <input type="text" id="walName" value="Wallet name"/>
        </div>
        <div class="popUpline">
            <label for="lockWall">Lock wallet</label>
            <input type="checkbox" id="lockWall"/>
        </div>
        <div class="popUpline">
            <label for="lockWall">PIN</label>
            <input type="password" id="wallPin"/>
        </div>
        <div class="popUpline">
            <label for="wallPin2">Confirm PIN</label>
            <input type="password" id="wallPin2"/>
        </div>
        <a href="#" class="delWallet fl">Delete wallet</a>
        <button class="Save"><i class="save"></i>Save</button>
    </div>
</div>
</div>
<script src="js/wallets.js"></script>
</body>
</html>